<md-card class="list">
  <h3><a [routerLink]="filteredStatus">{{title}}</a>({{getItemsCounter()}})</h3>
    <div *ngFor="let item of items">
      <md-card *ngIf="item.status === filteredStatus">
          <app-item [item]="item"></app-item>  
        <md-card-actions>
          <button md-raised-button color="primary"
              *ngIf="item.taskStarted() === true" 
              (click)="prevStatusClicked(item)"><-</button>
          <button md-raised-button color="primary" (click)="removeItemClicked(item)">X</button>
          <button md-raised-button color="primary"
                *ngIf="item.isTaskDone() === false" 
                (click)="nextStatusClicked(item)">-></button>
        </md-card-actions>
      </md-card>
    </div>
</md-card>
