li {
    position: relative;
    width: 300px;
    list-style: none;
}

li:hover .grocery-action:after {
    opacity: 1;
}

.grocery-action {
    float: right;
}

.grocery-action:after {
    cursor: pointer;
    opacity: .25;
}

.delete-grocery:after {
    content: " delete";
    color: red;
}

.toggle-grocery:after {
    content: "select ";
    color: green;
}

.selected .toggle-grocery:after {
    content: "deselect";
    color: #ccc;
}