<md-toolbar color="primary">
  <span>{{title}}</span>
</md-toolbar>
<md-input
  #newGrocery
  name="newGrocery"
  (keyup.enter)="addGrocery(newGrocery.value); newGrocery.value='';"
  placeholder="add a new grocery">
</md-input>
<div class="grid">
  <md-card *ngFor="let column of kanbanColumns" class="row">
    <md-card-title>{{column.title}}</md-card-title>
    <md-card-content>
      <app-grocery-list 
        [groceries]="groceries | filterByStatus: column.status" 
        (moveLeftIntent)="moveLeft($event)" 
        (moveRightIntent)="moveRight($event)">
      </app-grocery-list>
    </md-card-content>
  </md-card>
</div>