li {
    position: relative;
    width: 300px;
    list-style: none;
}

li:hover .item-action:after {
    opacity: 1;
}

.item-action {
    float: right;
}

.item-action:after {
    cursor: pointer;
    opacity: .25;
}

.delete-item:after {
    content: " delete";
    color: red;
}