<div class="list">
  <h3>{{title}} ({{getItemsCounter()}})</h3>
  <ul>
    <div *ngFor="let item of items">
      <li *ngIf="item.status === filteredStatus">
        <span class="change-status-button prev-status"
              *ngIf="item.taskStarted() === true" 
              (click)="prevStatusClicked(item)"><-</span>
        <app-item [item]="item"></app-item>
        <span (click)="removeItemClicked(item)" class="action-button">X</span>
        <span class="change-status-button next-status"
              *ngIf="item.isTaskDone() === false" 
              (click)="nextStatusClicked(item)">-></span>
      </li>
    </div>
  </ul>
</div>
